form#authentication.hidden(action='/', method='post')
  fieldset
    legend Authentication
    .row
      mixin field(6, 'text', 'email', 'Email')
      mixin field(6, 'password', 'password', 'Password')
    .row
      .small-3.small-offset-6.columns: button#register.radius.small.expand Register
      .small-3.columns: button#login.radius.success.small.expand Login
