!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Color Boxes
    %input#colorstring{type: 'text'}
    %input#colorbutton{type: 'button', value: 'Make Color Boxes'}
    %input#clearinput{type: 'button', value: 'Clear Input'}
    %input#clearboxes{type: 'button', value: 'Clear Boxes'}
    #boxes

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
