!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %input#name{type: 'text', placeholder: 'enter your name'}
    %input#color{type: 'text', placeholder: 'enter a color'}
    %input#clicker{type: 'button', value: 'Press Me!'}

    #a Div A
    #b Div B
    #c Div C

    %input#age{type: 'text', placeholder: 'enter an age'}
    %input#age_check{type: 'button', value: 'Verify Age!'}
    #age_div Age Verification

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
