.row
  .small-12.columns
    %h1 Calulator + Integration Testing
.row
  .small-2.columns
    %input#op1{type: 'text'}
  .small-1.columns
    %input#operator{type: 'text'}
  .small-2.columns
    %input#op2{type: 'text'}
  .small-2.columns
    %input#calculate.button.small.success{type: 'button', value: 'Calculate'}
  .small-5.columns
    #result
.row
  .small-12.columns
    %ul#history
