!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %input#button1{type: 'button', value: 'Make me green!'}
    #green Green Div

    %input#name_txt{type: 'text', placeholder: 'Enter your name'}
    %input#name_btn{type: 'button', value: 'Count the characters!'}
    #name_div BLANK

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
