extends ../template/layout

block content
  .row
    .small-12.columns
      table#songs
        thead
          tr
            th Song
            th
            th
        tbody
          each song in songs
            tr
              td: a.button.tiny.radius.expand(href='/songs/#{song.id}')= song.title
              td: a.button.tiny.radius(href='/songs/#{song.id}/edit') Edit
              td
                form(action='/songs/#{song.id}', method='post')
                  input(type='hidden', name='_method', value='delete')
                  button.tiny.radius.alert(type='submit') Delete
