!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %h1 HEADER H1
      %img
    %section
      %h2 SECTION H2
      %p SECTION P
      %p
        SECTION P
        %span SECTION P SPAN
        %span SECTION P SPAN
    %footer
      %h6 FOOTER H6
      %p FOOTER P

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
