.photo {
  float: left;
  width: 200px;
  height: 200px;
  border: 1px dashed #cccccc;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat; }

.selected {
  border: 1px solid red; }
