@import url(http://fonts.googleapis.com/css?family=Graduate);
header {
  border: 1px dashed #c60b0b; }
  header #logo {
    width: 78px;
    height: 105px;
    background: url(../images/tesla.png);
    float: left; }
  header #company {
    float: left; }
    header #company h1 {
      margin-top: 35px;
      margin-left: 50px;
      font-family: "Graduate", cursive; }

nav ul {
  list-style-type: none;
  padding: 0px; }
  nav ul li {
    padding-right: 50px;
    display: inline-block; }

div#content section h1 {
  color: #c60b0b;
  font-family: "Graduate", cursive;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 5px; }
div#content section h2 {
  color: #923f3f;
  font-family: "Graduate", cursive;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 3px; }
div#content section p {
  color: #ff0033;
  font-family: "Graduate", cursive;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 5px;
  padding: 10px;
  border: 2px dashed green;
  border-radius: 15px;
  background-color: blue;
  box-shadow: 5px 5px 10px black; }

footer p {
  font-size: 8px;
  color: #c60b0b; }

#main {
  width: 960px;
  margin: 0px auto; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: #c60b0b; }
  a:hover {
    text-decoration: underline;
    color: #9c3535; }
