@import url(http://fonts.googleapis.com/css?family=Graduate);
header {
  border: 1px dashed #c60b0b; }
  header #logo {
    width: 78px;
    height: 105px;
    background: url(../images/tesla.png);
    float: left; }
  header #company {
    float: left; }
    header #company h1 {
      margin-top: 35px;
      margin-left: 50px;
      font-family: "Graduate", cursive; }

nav ul {
  list-style-type: none;
  padding: 0px; }
  nav ul li {
    padding-right: 50px;
    display: inline-block; }

div#content section h1 {
  font-size: 20px;
  color: #c60b0b; }
div#content section h2 {
  font-size: 18px;
  color: #923f3f; }
div#content section p {
  font-size: 12px;
  color: #757575; }

footer p {
  font-size: 8px;
  color: #c60b0b; }

#main {
  width: 960px;
  margin: 0px auto; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: #c60b0b; }
  a:hover {
    text-decoration: underline;
    color: #9c3535; }
