!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Party Planner & RSVP Application
    %input#add{type: 'button', value: 'Add Row'}
    %table
      %tr.home
        %th Name
        %th Food
        %th Rsvp
        %th Nuke
        %th Up/Down

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
