.row
  .small-2.columns
    %input#product-image{type: 'text', placeholder: 'image.png'}
  .small-2.columns
    %input#product-name{type: 'text', placeholder: 'name'}
  .small-2.columns
    %input#product-weight{type: 'text', placeholder: 'weight'}
  .small-2.columns
    %input#product-price{type: 'text', placeholder: '$3.30'}
  .small-2.columns
    %input#product-off{type: 'text', placeholder: '14%'}
  .small-2.columns
    %input#add-product.small.radius.button{type: 'button', value: 'Add Product'}
.row
  .small-12.columns
    %table#products
      %tr
        %th Image
        %th Name
        %th Weight
        %th Price
        %th % Off
        %th Sale
.row
  .small-12.columns
    #previous.hidden
    #next.hidden
.row
  .small-2.columns
    %input#customer-image{type: 'text', placeholder: 'image.png'}
  .small-2.columns
    %input#customer-name{type: 'text', placeholder: 'name'}
  .small-6.columns
    %input#domestic{type: 'radio', name: 'address', value: 'domestic'} Domestic
    %input#international{type: 'radio', name: 'address', value: 'international'} International
  .small-2.columns
    %input#add-customer.small.radius.button{type: 'button', value: 'Add Customer'}
