doctype 5
html
  head
    title Cats!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My cat page
    p Welcome to Node
    img(src='http://jasonlefkowitz.net/wp-content/uploads/2013/07/cats-16140154-1920-1080.jpg')
