doctype 5
html
  head
    title Node Title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Node Rocks!!!
    p Welcome to Node
    a(href='/cats') Cats
    a(href='/dogs') Dogs
