.row
  .small-2.columns
    %input#school{type: 'text'}
  .small-2.columns
    %input#length{type: 'text'}
  .small-2.columns
    %input#width{type: 'text'}
  .small-6.columns
    %input#add-school.button.small.radius{type: 'button', value: 'Add School'}
.row
  .small-2.columns
    %input#student{type: 'text'}
  .small-2.columns
    %input#gpa{type: 'text'}
  .small-2.columns
    %select#pick-school
  .small-6.columns
    %input#add-student.button.small.radius{type: 'button', value: 'Add Student'}
.row
  .small-2.columns
    %input#subject{type: 'text'}
  .small-2.columns
    %select#pick-student
  .small-6.columns
    %input#add-subject.button.small.radius{type: 'button', value: 'Add Subject'}
