%script{src: '/js/vendor/jquery-1.10.2.js'}
%script{src: '/js/vendor/foundation.min.js'}
%script{src: '/js/vendor/underscore.js'}
%script{src: '/js/vendor/moment.min.js'}
%script{src: 'https://cdn.firebase.com/v0/firebase.js'}
/%script{src: 'https://maps.googleapis.com/maps/api/js?key=__________&sensor=true'}
%script{src: '/js/app/app.js'}
