#left
  #map-canvas
#right
  .row
    .small-4.columns
      %input#start.button.small.radius{type: 'button', value: 'Start'}
    .small-8.columns
      %input#stop.button.small.radius{type: 'button', value: 'Stop'}
  .row
    .small-12.columns
      %input#favorite{type: 'text'}
      %input#add-favorite.button.small.radius.success{type: 'button', value: 'Add'}
