@import 'colors';
@import 'fonts';
@import 'header';
@import 'nav';
@import 'content';
@import 'footer';

#main
{
  width: 960px;
  margin: 0px auto;
}

.clear
{
  clear: both;
}

a
{
  text-decoration: none;
  color: $tesla_red;

  &:hover
  {
    text-decoration: underline;
    color: desaturate($tesla_red, 40%);
  }
}
