.row
  .small-2.columns
    a.button.tiny.radius.expand(href='/') Home
  .small-2.columns
    a.button.tiny.radius.expand(href='/songs') Songs
  .small-2.columns
    a.button.tiny.radius.expand.success(href='/songs/new') New Song
  .small-2.columns
    a.button.tiny.radius.expand(href='/artists') Artists
  .small-2.columns
    a.button.tiny.radius.expand.success(href='/artists/new') New Artist
  .small-2.columns
