.row
  .small-2.columns
    a.button.tiny.radius.expand(href='/songs') Songs
  .small-2.columns
    a.button.tiny.radius.expand.success(href='/songs/new') New Song
  .small-2.columns
    a.button.tiny.radius.expand(href='/') Home
  .small-6.columns
.row
  .small-2.columns
    a.button.tiny.radius.expand(href='/genres') Genres
  .small-2.columns
    a.button.tiny.radius.expand.success(href='/genres/new') New Genre
  .small-8.columns
