.row
  .small-2.columns
    a.button.tiny.radius.expand(href='/') Home
  .small-2.columns
    a.button.tiny.radius.expand(href='/songs') Songs
  .small-2.columns
    a.button.tiny.radius.expand.success(href='/songs/new') New
  .small-6.columns
