!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/qunit-theme-gabe.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    = Haml::Engine.new(File.read('haml/_header.haml')).render
    = Haml::Engine.new(File.read('haml/_nav.haml')).render
    = Haml::Engine.new(File.read('haml/_content.haml')).render
    = Haml::Engine.new(File.read('haml/_footer.haml')).render

    #qunit
    #qunit-fixture

    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/qunit-1.12.0.js'}
    %script{src: 'js/main.js'}
    %script{src: 'js/testing.js'}
